<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="/public/main.css">
<link rel="shortcut icon" href="/public/images/grow.png">
<link rel="alternate" type="application/rss+xml" title="Grow Blog" href="/rss.xml">
{% if g.content %}
<link rel="canonical" href="http://about.grow.io{{g.content.get_serving_path()}}">
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>
  {% if g.content.get_serving_path() == '/' %}
  {{g.content.title}}
  {% else %}
  {{g.content.title}} – Grow
  {% endif %}
</title>
<header class="clearfix">
  <div class="wrap">
    <a href="/" class="banner">
      <div class="logo"><img src="/public/images/grow.png"></div>
      <div class="title">Grow</div>
    </a>
    <ul class="pull-right">
      <li><a href="/blog/">Blog</a>
    </ul>
  </div>
</header>
{% block main %}
  <div class="main">
    <article>
      {{g.content.body|safe}}
    </article>
  </div>
{% endblock %}
<footer>
<div class="wrap">
  <ul>
    <li><a href="/">Home</a>
    <li><a href="/about/">About</a>
    <li><a href="/blog/">Blog</a>
  </ul>
</div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-44018013-1', 'grow.io');
  ga('send', 'pageview');
</script>
