<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="/public/main.css">
<link rel="shortcut icon" href="/public/images/grow.png">
<title>{{grow.content.title}}</title>
<header class="clearfix">
  <div class="wrap">
    <a href="/" class="banner">
      <div class="logo"><img src="/public/images/grow.png"></div>
      <div class="title">GROW</div>
    </a>
    <ul class="pull-right">
      <li><a href="/faq">FAQ</a>
      <li><a href="/faq">Blog</a>
    </ul>
  </div>
</header>
{% block main %}
{% endblock %}
