@import url(http://fonts.googleapis.com/css?family=Dosis:300,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);

a {
  color: #8357AC;
  text-decoration: none;
}

body {
  background: #efefef;
  color: #312e2a;
  font-family: 'Dosis', 'Helvetica Neue', arial, sans-serif;
  font-weight: 200;
  margin: 0 auto;
  max-width: 780px;
}

.logo {
  text-align: center;
  max-width: 280px;
  margin: 70px auto;
}

.logo h1 {
  font-size: 50px;
  margin: 0 0 40px;
}

.logo img {
  width: 150px;
}

p {
  font-family: 'Roboto', 'Helvetica Neue', arial, sans-serif;
}

p.soon {
  font-size: .9em;
}
