@import url(http://fonts.googleapis.com/css?family=Dosis:300,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);

a {
  color: #8357AC;
  text-decoration: none;
}

body {
  background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0));
  background-color: #e8ebef;
  background-repeat: no-repeat;
  color: #312e2a;
  font-family: 'Dosis', 'Helvetica Neue', arial, sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  margin: 0 auto;
  max-width: 780px;
}

.logo {
  text-align: center;
  max-width: 280px;
  margin: 70px auto;
}

.logo h1 {
  font-weight: 100;
  font-size: 50px;
  margin: 0 0 40px;
}

.logo img {
  width: 150px;
}

p {
  font-family: 'Roboto', 'Helvetica Neue', arial, sans-serif;
}

p.soon {
  font-size: .75em;
}

form input {
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  padding: 3px;
  width: 90%;
}

form input[type=email] {
  border: 1px solid #ddd;
  padding: 10px;
}

form input[type=email]:focus {
  border-color: #8357AC;
  outline: none;
}

form input[type=submit]:hover {
  background: #9168B5;
}

form input[type=submit] {
  background: #8357AC;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Roboto', 'Helvetica Neue', arial, sans-serif;
  padding: 10px 20px;
  -webkit-transition: background 200ms;
}
